@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

$header-color: #091242;
$text-color: #f4f4f4;
$menuItem-color: #F4F4F4;
$menuBarBackground: #23212A;
$background-color-subText: #041C37;
$linear-color: #FFB629;
$second-linear-color: #FFD7A6;
$background-color-services-subText: #E8E8E8;
$text-color-black: #1C1F35;
$border-right-service-color: #D8D8D8;