* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --linear-color: #2947A9;
  --second-linear-color: #FFFFFF;
  --header-color: #091242;
  --header-text-color: #F4F4F4;
  --menuItem-color: #F4F4F4;
}